:root{
    --color-primary: #002147;
    --color-danger: #d62b00;
    --color-darkgreen: #f74302;
    --color-darkgreen2: #f74302;
    --color-darkgreen3: #f74302;
    --color-lightgreen: #f74302;
    --color-primary1: #f74302;
    --yellowshade1: #e2c348;
    --yellowshade2: #c9ae40;
    --color-primary2: #f743022e;
    --color-primary2: #f743021a;
    --color-danger: #d62b00;
    --color-darkgreen:  #d62b00;
    --color-darkgreen2: #1E90FF;
    --primary-blue: #1E90FF;
    --color-white: #fff;
    --color-white-white: #fff;
    --color-plain-white: #fff;
    --color-plain-black: #ffff;
    --color-info-dark: #a0a0a0;
    --color-info-light: #dce1eb;
    --color-black-black: #0000;
    --slate-green: #00ff44;
    --slate-green2: #00ff4425;
    --slate-green3: #00ff4437;
    --slate-green4: #00ff444a;
    --slate-green5: #00ff4442;
    --color-black: #000;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-primary-variant2: #111f8894;
    --color-dark-variant: #677483;
    --color-background: #dce1eb;
    --color-background2: #f6f6f9;
    --color-blue: #0066DE;
    --color-gold: rgb(255, 215, 0);
    --color-dark-shade: #202528;

    --background: linear-gradient(135deg, #002147 0%, #092c4e 50%, #4ea5fb 100%);


    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 0rem 1rem var(--color-info-dark);
    --box-shadow3: 0rem 4rem 1rem var(--color-info-dark);
    --box-shadow2: 0 0rem 1rem var(--color-info-light);
    --box-shadow4: inset 0px 0px 15px rgba(0, 0, 0, 0.5); 
    --box-shadow5: inset 0 4px 12px var(--slate-green4), inset 0 -4px 12px var(--slate-green5);
--box-shadow6: inset 0px 0px 15px rgba(0, 0, 0, 0.5); 
--box-shadow7: inset 0px 0px 25px var(--color-info-dark); 
--box-shadow8: inset 10px 10px 20px   rgba(0, 0, 0, 0.5); 
--box-shadow9: 0 0rem 13px -3px var(--color-info-dark);


}
html{
          scroll-behavior: smooth;

}
* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
            scroll-behavior: smooth;

    }

    body {
      background: linear-gradient(135deg, #000000, #000000, #000000);
      color: #fff;
      overflow-x: hidden;
      scroll-behavior: smooth;
    }

    
#preloader {
    position: fixed;
    z-index: 9999;
    background: var(--color-black);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border: 5px solid var(--color-info-black);
    border-top: 5px solid var(--color-primary1);
    border-radius: 50%;
    animation: spin 1s linear infinite;
    z-index: 2;
    background: transparent;
}

@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}


.stars,
.stars2,
.stars3,
.stars4,
.stars5 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: repeat;
    background-size: cover;
    z-index: 0;
    pointer-events: none;
}

.stars {
    background-image: url('https://www.transparenttextures.com/patterns/stardust.png');
    animation:  rotate 60s linear infinite;
    opacity: 1;
}

.stars2 {
    background-image: url('https://www.transparenttextures.com/patterns/stardust.png');
    animation: rotate 20s linear infinite;
    opacity: 1;
}

.stars3 {
    background-image: url('https://www.transparenttextures.com/patterns/stardust.png');
    animation:  rotate 40s linear infinite;
    opacity: 1;
}
.stars4 {
    background-image: url('https://www.transparenttextures.com/patterns/stardust.png');
    animation:  rotate alternate-reverse 20s linear infinite;
    opacity: 1;
}
.stars5 {
    background-image: url('https://www.transparenttextures.com/patterns/stardust.png');
    animation:  rotate alternate-reverse 50s linear infinite;
    opacity: 1;
}

@keyframes animStars {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(-100%);
    }
}
@keyframes moveDown {
    from {
        transform: translateY(0);
    }
    to {
        transform: translateY(80vh); /* Move downward through the viewport height */
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

    header {
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 2rem;
      animation: fadeInUp 1.5s ease-out forwards;
      position: relative;
      z-index: 1;
    }


    header p {
      margin-top: 1rem;
      font-size: 1.5rem;
      color: #aaa;
      animation: fadeIn 2s ease-out 2s forwards;
      position: relative;
      z-index: 1;
    }

    .btn {
      margin-top: 2rem;
      padding: 0.8rem 1.6rem;
      background: #00ffae;
      color: #121212;
      font-weight: bold;
      border: none;
      border-radius: 30px;
      cursor: pointer;
      transition: 0.3s ease;
      animation: pulse 2s infinite;
      text-decoration: none;
      position: relative;
      z-index: 1;
    }

    .btn:hover {
      background: #00d59a;
      transform: scale(1.05);
    }

    
.welcm{
margin:  10%;
margin-top: 5%;
margin-bottom: 5%;
height: 100px;
position: relative;
      z-index: 1;
}
.welcm h1{
margin: 0;
font-size: 50px;
font-weight: 200;
line-height: 70px;
color: var(--color-plain-white);

}
.welcm h1 span{
font-size: 70px;
}

.color-changing {
font-weight: bold;
animation: colorChange 5s infinite linear;
}

@keyframes colorChange {
0% { color: var(--color-plain-white); }
25% { color: var(--yellowshade1);}
50% { color: var(--slate-green); }
75% { color: var(--color-danger); }
100% { color: var(--color-primary1); }
}

.welcomechange {
white-space: nowrap;
position: relative;
z-index: 1;
}

.typewriterefft {
white-space: nowrap;
overflow: hidden;
animation: typing 3s steps(30) 1s forwards, blink 0.75s step-end infinite;
}

/* Typing animation */
@keyframes typing {
from {
    width: 0;
}
to {
    width: 100%;
}
}


.disp-text {
white-space: pre-line; /* Keep line breaks */
animation: blink 0.8s step-end infinite;
}

@keyframes blink {
0%, 100% {
border-color: transparent;
}
50% {
border-color: transparent;
}
}

/* Cursor blinking effect */
@keyframes blink {
50% {
    border-color: transparent;
}
}

#about{
    text-align: center;
    position: relative;
      z-index: 1;
}

    section {
      padding: 5rem 2rem;
      max-width: 1000px;
      margin: auto;
      position: relative;
      z-index: 1;
    }

    section h2 {
      font-size: 2.5rem;
      margin-bottom: 2rem;
      text-align: center;
      position: relative;
    }

    section h2::after {
      content: '';
      display: block;
      height: 4px;
      width: 60px;
      background: #00ffae;
      margin: 1px auto 0;
      animation: slideIn 1s ease-out;
      border-radius: 22%;
    }

    .project-grid {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin-top: 3rem;
    }

    .project-card {
      background:  var(--color-dark);
      padding: 1.5rem;
      border-radius: 20px;
      box-shadow: 0 5px 20px rgba(0,0,0,0.2);
      transition: transform 0.3s ease;
      opacity: 0;
      transform: translateY(50px);
      animation: reveal 1s ease-out forwards;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    .projimg{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 15px;
    }
    .projimg img{
        width: 25%;
        border-radius: 15px;
        margin-left: -85px;
        transition: all 300ms ease;
                outline: 2px solid var(--color-plain-white);

    }

    .projimg.landscape{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .projimg.landscape img{
        width: 60%;
        margin-top: -100px;
        margin-left: 0;
        outline: 2px solid var(--color-black);
    }
    
     .projimg.landscape.mili img{
        outline: 2px solid var(--color-plain-white);
    }
    .projimg.landscape img:first-child{
        margin: 0;
    }
    .projimg img:first-child{
        margin: 0;
    }
    .projimg img:hover{
        margin-top: -50px;
        transform: scale(1.1);
    }
     .projimg.landscape img:hover{
        margin-top: -150px;
        transform: scale(1.2);
    }
      .projimg.landscape img:first-child:hover{
        margin-top: -50px;
        transform: scale(1.2);
    }

    .project-card:hover {
      transform: translateY(-10px);
    }

    .project-card h3 {
      margin-bottom: 0.5rem;
      margin-top: 50px;
    }
      .project-card p {
      text-align: center;
    }

    .contact {
      text-align: center;
    }

    .contact a {
      color: #00ffae;
      font-size: 1.2rem;
      text-decoration: none;
    }

    footer {
      padding: 2rem;
      text-align: center;
      background: #141d26;
      font-size: 0.9rem;
      color: #777;
    }

    /* Animations */
    @keyframes fadeInUp {
      0% { opacity: 0; transform: translateY(30px); }
      100% { opacity: 1; transform: translateY(0); }
    }

    @keyframes fadeIn {
      0% { opacity: 0; }
      100% { opacity: 1; }
    }


    @keyframes pulse {
      0%, 100% { transform: scale(1); }
      50% { transform: scale(1.05); }
    }

    @keyframes slideIn {
      from { width: 0; }
      to { width: 60px; }
    }

    @keyframes reveal {
      to { opacity: 1; transform: translateY(0); }
    }



    @media (max-width: 768px) {
.welcm h1{
font-size: 25px;
line-height: 35px;
font-weight: 500;

}
.welcm h1 span{
font-size: 35px;
}
.welcm{
    margin: 0;
}
header p {
    margin-top: 5rem;
}

.projimg img {
    width: 52%;
    margin-left: -98px;
  }
  .project-card p {
    text-align: left;
}
.projimg.landscape img {
    width: 115%;
    margin-top: -55px;
  }
  .contact a {
    font-size: 1rem;
}
.projimg img:hover {
    margin-top: -50px;
    transform: scale(1.2);
}
    }
